*{
    text-decoration: none;
    font-family: Comfortaa; 
}

.legal {
    text-align: center;   
}

.App-logo {
    height: 15vmin;
    pointer-events: none;   
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 30s linear;
    }
}

.legalHeader {
    background-color: #ffffff;
    background-image: url('../../img/bgimageLegal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(226, 226, 226);
}

.App-link {
    
    color: #e7e2e2;
    font-weight: bold;
    
}

@keyframes App-logo-spin {
    from {
    transform:rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.textoBienvenida{
    margin: 2%;
    padding: 2%;
}

.containerBienvenida{
    opacity: 0.7;
    margin: 2%;
    padding: 10%;
}

.nombreMarca{
    font-weight: bolder;
}

.CTAButton{    
    align-items: center;
    background-image: linear-gradient(144deg,#3c383f, #5a42f39d 50%,#00dbeba8);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(119, 115, 124, 0.062) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;  
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-63 {
    font-size: 24px;
    min-width: 196px;
    }
}

.termsConds{
    margin: 0;
    padding: 0;
    font-size: x-small;
}