body {
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
